In [3]:
!pip install pip install beautifulsoup4
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

Requirement already satisfied: pip in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (19.1.1)
Collecting install
  Downloading https://files.pythonhosted.org/packages/88/fa/3e25eaef840ce427c2d20cdea3803deaec0feaa25c0eeab85515af0234e1/install-1.3.1-py3-none-any.whl
Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/66/25/ff030e2437265616a1e9b25ccc864e0371a0bc3adb7c5a404fd661c6f4f6/beautifulsoup4-4.9.1-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 7.0MB/s eta 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading https://files.pythonhosted.org/packages/6f/8f/457f4a5390eeae1cc3aeab89deb7724c965be841ffca6cfca9197482e470/soupsieve-2.0.1-py3-none-any.whl
Installing collected packages: install, soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.9.1 install-1.3.1 soupsieve-2.0.1

In [4]:
!pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/55/6f/c87dffdd88a54dd26a3a9fef1d14b6384a9933c455c54ce3ca7d64a84c88/lxml-4.5.1-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 6.6MB/s eta 0:00:01��██████████         | 4.0MB 6.6MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.1

Import URL by request.get()

In [5]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
website_url = requests.get(url).text

In [6]:
# BeautifulASoup is used to get the data in beautiful form.
soup = BeautifulSoup(website_url,'html5')

In [7]:
# Function in Soup
table = soup.find_all('table')

In [8]:
# Function in pandas
df = pd.read_html(str(table))[0]

In [9]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

# Data Cleaning and Preprocessing

Ignore cell with not assigned value

In [11]:
df1 = df[df.Borough != 'Not assigned']
df1.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Group by postal code which can have many neighbourhoods separated with a comma

In [20]:
df2 = df1.groupby(['Postal Code','Borough'])["Neighborhood"].apply(", ".join).reset_index()
df2.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough

In [30]:
df2['Neighborhood'] = np.where(df2['Neighborhood'] == 'Not assigned',df2['Borough'], df2['Neighborhood'])
df2.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

Number of rows of df2

In [31]:
df2.shape

(103, 3)